.vs/
.vscode/

bin/
bin-int/
Intermediates/

OpenGLEngine/Scripts/

#Vérifier
OpenGLEngine/vendor/**/bin/
OpenGLEngine/vendor/**/bin-int/

**.user
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.sln
**.ini
**.exe
**.ultconf

**/Makefile
